.container {
  display: block;
  width: 100%;
}

.viewport {
  align-items: center;
  display: flex;
  height: 1.14em;
  justify-content: center;
  position: relative;
  width: 100%;
}

.word {
  display: flex;
  justify-content: center;
  left: 0;
  margin-inline: auto;
  max-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  width: max-content;
}

.wordInitial {
  opacity: 1;
}

.char {
  display: inline-block;
}
